{{!-- Card Image --}}
<img src="https://via.placeholder.com/50x50" class="card-img-top" alt="...">
{{!-- Card Body --}}
<div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p>By {{user.name}}</p>
    <p>{{size}} · {{medium}}</p>
    <p>${{price}}</p>
</div>