<div class="container">
    {{!-- For each exhibit within the specific gallery, make a card --}}
    {{#each exhibits as |exhibit|}}
    <div class="container">
        <p>By {{user.name}}</p>{{!-- Artist's name --}}
            </header>
        </div>
    <div class="card">
        <header class="card-header">
            {{artwork}}
        <div class="card-content">
<<<<<<< HEAD:views/exhibit.handlebars
        <p class="card-header-title">{{title}}</p>{{!-- Title of the artwork --}}
            <p class="content">
            </p>
=======
>>>>>>> f4788bb33f892b866855e37e37ad31b3999a22b2:views/gallery.handlebars
            <p>{{title}}</p> 
            <p>{{size}}</p> 
            <p>{{medium}}</p> 
            <p>{{price}}</p> 
        </div>
    </div>
    <hr>
    {{/each}}
</div>