<div class="container">

    p>By {{user.name}}</p>{{!-- Artist's name --}}

    {{#each exhibits as |exhibit|}}
    
    <div class="card">
        <header class="card-header">
            {{artwork}}
        <div class="card-content">
        <p class="card-header-title">{{title}}</p>{{!-- Title of the artwork --}}
            <p class="content">
            </p>
            <p>{{title}}</p> 
            <p>{{size}}</p> 
            <p>{{medium}}</p> 
            <p>{{price}}</p> 
        </div>
    </div>
    <hr>
    {{/each}}
</div>