<div class="container">
    {{!-- For each exhibit within the specific gallery, make a card --}}
    {{#each exhibits as |exhibit|}}
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">{{title}}</p>{{!-- Title of the artwork --}}
                <p>By {{user.name}}</p>{{!-- Artist's name --}}
            </header>
        </div>
        <div class="card-content">
            <p>{{title}}</p> 
            <p>{{size}}</p> 
            <p>{{medium}}</p> 
            <p>{{price}}</p> 

        </div>
    </div>
    <hr>
    {{/each}}
</div>